html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;

    background: #2C3137;

    cursor: default;
}

#header {
    background: #FAFAFA;

    padding: 15px;

    font-family: Roboto;
    font-weight: 300;
    font-size: 30px;
    color: #1E539F;

    position: relative;
    z-index: 99;
    box-shadow: 0px 0px 20px black;
}

#contents {
    width: 100%;
    height: calc(100% - 67px);
}

#vis-player {
    float: left;

    height: 100%;
}

#vis-controls {
    height: 30px;
    padding: 10px;

    background: #23232D;
    color: white;

    font-size: 28px;
}

#vis-2d {
    height: calc(50% - 30px);
    position: relative;
}

#vis-3d {
    height: calc(50% - 30px);
    position: relative;
}

#vis-2d img {
    height: 100%;
    visibility: hidden;
}

#vis-3d img {
    height: 100%;
    visibility: hidden;
}

#field, #field-3d {
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    position: absolute;
}

#field {
    background: url(layout.svg);
    background-size: cover;
}

#field-3d {
    background: black;
}

#playback-time {
    user-select: none;
    -webkit-user-select: none;
}

#team-info {
    float: left;

    width: 340px;
    height: 100%;

    padding: 10px;
    padding-top: 20px;

    font-family: Roboto;
    font-size: 16px;

    color: white;

    text-align: center;
}

.logo-container img {
    width: 100px;
    margin-bottom: 10px;
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

#logo-seperator {
    padding: 0 10px 0 10px;
    vertical-align: middle;
    font-size: 30px;
}

#team-info h1 {
    margin: 0;

    font-size: 20px;
    font-weight: 300;
}

.home-team {
    color: #7BDCA2;
}

.away-team {
    color: #DCDCDC;
}

#team-info ul {
    padding: 0;
}

#team-info li {
    list-style: none;
    font-weight: 300;
}

.position-back {
    color: rgb(215, 223, 1);
}

.position-winger {
    color: red;
}

.position-midfield {
    color: rgb(46, 100, 254);
}

#stats-container {
    font-family: Roboto;
    font-weight: 300;

    padding: 30px;
}

#player-stats-message {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
}

#player-stats-container h1 {
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

/* Play/pause button */

input[type=checkbox] { display: none; }
input[type=checkbox] ~ #control-play-icon-on { display: none; }
input[type=checkbox] ~ #control-play-icon-off { display: inline-block; }
input[type=checkbox]:checked ~ #control-play-icon-off { display: none; }
input[type=checkbox]:checked ~ #control-play-icon-on { display: inline-block; }

label {
    cursor: pointer;
}

/* Playback slider */

input[type=range] {
    -webkit-appearance: none;
    width: calc(100% - 270px);
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=range] {
        position: relative;
        top: -5px;
        width: calc(100% - 255px);
    }
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #1E539F;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #1E539F;
}

input[type=range]::-webkit-slider-thumb {
    width: 8px;
    height: 10px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 8px;
    height: 10px;
    background: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    width: 8px;
    height: 10px;
    background: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

select {
    position: relative;
    top: -4px;

    background: #23232D;
    color: white;
    font-size: 18px;

    border: none;
    border-bottom: 1px dotted white;

    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;

    font-family: Roboto;
    font-weight: 300;
}

#vis-controls span {
    position: relative;
    top: -3px;

    font-weight: 300;
    font-size: 20px;
    font-family: Roboto;
}

#stats-container {
    float: left;
    height: 100%;
    overflow: auto;
}

.player text, .player circle {
    cursor: pointer;
}

/* Line chart */

.axis path,
.axis line {
    fill: none;
    stroke: rgba(255, 255, 255, 0.8);
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}